<%- include('../partials/header') %>

<div style="display: flex; justify-content: space-between; align-items: baseline;">
  <h2>Welcome, <%= name %> !</h2>
  <%- include('../partials/menu') %>
</div>

<br>
<h5><a href="/countries/athletes/add" class="btn btn-success">Add an Athlete</a></h5>
<p style="text-align: right;"><%= msg %></p>

<div class="table-responsive">
  <table class="table table-striped align-middle" style="text-align: center;">
    <tr class="table-dark">
      <th>No.</th>
      <th>ID</th>
      <th>Full Name</th>
      <th>Sport</th>
      <th>Gender</th>
      <th>Age</th>
      <th>Email Address</th>
      <th>Actions</th>
    </tr>
    <% data.forEach((el, i) => { %>
      <tr>
        <td><%= i+1 %></td>
        <td><%= el.id %></td>
        <td><%= el.getName() %></td>
        <td><%= el.Sport.name %></td>
        <td style="font-size: x-large;"><%= el.getGender() %></td>
        <td><%= el.getAge() %></td>
        <td><%= el.email %></td>
        <td><a href="/countries/athletes/<%= el.id %>/edit" class="btn btn-dark btn-sm">Edit</a> <a href="/countries/athletes/<%= el.id %>/delete" class="btn btn-secondary btn-sm" onclick="return confirm('Are you sure want to delete Athlete ID <%= el.id %>?')">Delete</a>
        </td>
      </tr>
    <% }) %>
  </table>
</div>



</body>
</html>