<%- include('../partials/header') %>

<h2>Edit an Athlete</h2>
<br>
<form action="/countries/athletes/<%= datum.id %>/edit" method="post">
  <div class="mb-3">
    <label class="form-label">First Name</label>
    <input type="text" name="first_name" class="form-control" value="<%= datum.first_name %>">
  </div>
  <div class="mb-3">
    <label class="form-label">Last Name</label>
    <input type="text" name="last_name" class="form-control" value="<%= datum.last_name %>">
  </div>
  <div class="mb-3">
    <label class="form-label">Gender</label>
    <select name="gender" class="form-select">
      <option value="" disabled>Select</option>
      <option value="Female" <%= datum.gender=="Female"? "selected" : "" %> >Female</option>
      <option value="Male" <%= datum.gender=="Male"? "selected" : "" %>>Male</option>
    </select>
  </div>
  <div class="mb-3">
    <label class="form-label">Age</label>
    <input type="number" name="age" class="form-control" value="<%= datum.age %>">
  </div>
  <div class="mb-3">
    <label class="form-label">Email Address</label>
    <input type="email" name="email" class="form-control" value="<%= datum.email %>">
  </div>
  <div class="mb-3">
    <label class="form-label">Sport</label>
    <select name="SportId" class="form-select">
      <option value="" selected>Select</option>
      <% data.forEach(el=>{ %>
      <option value="<%= el.id %>" <%= datum.SportId==el.id? "selected" : "" %> ><%= el.name %></option>
      <% }) %>
    </select>
  </div>
  
  <div style="text-align: center;">
    <input  type="submit" value="EDIT" class="btn btn-primary">
  </div>

</form>
<br>
<div style="text-align: center;" >
  <a href="/countries/athletes" class="btn btn-primary" >Back</a>
</div>
<br>

<% errs.forEach(el=>{ %>
  <p style="text-align: center;"><%= el %></p>
<% }) %>

</body>
</html>