<%- include('../partials/header') %>

<div style="display: flex; justify-content: space-between; align-items: baseline;">
  <h2>Welcome, <%= name %> !</h2>
  <%- include('../partials/menu') %>
</div>

<br><br><br>

<div class="table-responsive">
  <table class="table  table-striped align-middle" style="text-align: center;">
    <tr class="table-dark">
      <th>No.</th>
      <th>ID</th>
      <th>Sport</th>
      <th>Player</th>
    </tr>
    <% data.forEach((el, i) => { %>
      <tr>
        <td><%= i+1 %></td>
        <td><%= el.id %></td>
        <td><%= el.name %></td>
        <td><%= el.Athletes.length %></td>
      </tr>
    <% }) %>
  </table>
</div>



</body>
</html>